body {

    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    margin: -5px;
}

.box1 {
    width: 60px;
    height: 60px;
    background-color: #4f4aac;
    margin-left: 50px;
}

.box2 {
    width: 60px;
    height: 60px;
    background-color: #4f4aa6;
    margin-right: 50px;
}

/*----------banner section----------*/
nav {
    position: absolute;
    top: 0px;
}

a {
    text-decoration: none;
}

li:hover {
    color: #19e091;
}

li {
    list-style: none;
    color: aliceblue;
    margin: 10px;
    text-align: center;
    width: 120px;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

li>.search-icon {
    margin-left: 2px;
}

.navbar ul {
    top: 20px;
    display: flex;
    margin-top: 10px;

}

.navbar {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 450px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.logo {
    margin: 20px;
}

.grid-container {
    position: absolute;
    top: 50px;
    display: grid;
    column-gap: 2px;
    grid-template-columns: auto auto;
    padding: 55px;
    color: white;
    margin: 55px;
    align-items: center;
}

.grid-item {
    margin: 5px;
}

.grid-item span {
    font-size: 100px;
    font-weight: 600;
}

.grid-item h1 {
    font-size: 60px;
    font-weight: lighter;
}

.paragraf {
    width: 67%;
    font-size: 20px;
}

button {
    width: 240px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-weight: 200;
    padding: 20px;
    margin-top: 60px;
    font-size: 20px;

}

.contact {
    margin-left: 20px;
}

/*----------card section----------*/
.grid-view {
    display: grid;
    column-gap: 10px;
    grid-template-columns: 370px 370px 370px;
    padding: 25px;
    color: white;
    justify-content: center;

}

.grid {
    border: 1px solid rgb(49, 209, 134);
    border-radius: 20px;
    text-align: center;
    height: 420px;
    width: 340px;
    margin: 70px 50px 60px 10px;
    padding: 10px;
    color: black;
    justify-content: center;


}

.grid img {
    margin-top: 24px;
}

.grid p {
    text-align: center;
    padding: 10px;
    font-size: 20px;

}

/*----------our products section----------*/

.our-products {
    background-color: rgb(252, 249, 249);
    width: 100%;
    height: 1520px;
}

.title {
    text-align: center;
    padding: 80px;
    padding-bottom: 30px;
    font-size: 40px;
    text-decoration: underline rgb(142, 247, 142) 1px;
    text-underline-offset: 10px;
    font-weight: 600;
}

.products {
    background-color: rgb(255, 255, 255);
    height: 1250px;
    margin: 120px;
    margin-top: 30px;
}

.products-grid {
    display: grid;
    column-gap: 100px;
    grid-template-columns: auto auto auto;
    padding: 140px;
    padding-top: 70px;
    justify-content: center;
    padding-bottom: 0px;
}

.grid-products {

    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}


.products-buttons {
    color: rgb(255, 255, 255);
    background-color: rgb(39, 39, 39);
    text-align: center;
    padding: 7px;
    font-size: 16px;
    font-weight: bold;
    width: 200px;
    height: 45px;
    margin: 60px;
}

.see-more {
    text-align: center;
}

.seemore-btn {
    border: 2px solid #48ca95;
    color: #48ca95;
    margin-top: 10px;

}

.seemore-btn:hover {
    background-color: #2fcc8d;
    color: aliceblue;
    border: none;
}

/*----------Sell Section----------*/

.sell {
    background-color: #4f4aa6;
    width: 100%;
    height: 500px;
}

.sell-grid {
    display: grid;
    column-gap: 1px;
    grid-template-columns: auto auto;
    align-self: center;
    justify-self: center;
    justify-content: center;
}

.sell-grid-item {
    font-size: 45px;
    color: white;
    align-items: center;
    margin-top: 70px;
    padding: 1px;
    align-self: center;
    justify-self: center;
    margin-left: 50px;
    width: 700px;
    margin-top: 0px;
}

.shop-now-btn {
    color: white;
    background-color: #48ca95;
    border: none;
    width: 200px;
    font-size: 16px;
    margin-top: 0px;
}

.sell-grid-item p {
    font-size: 55px;
    font-weight: lighter;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sell-grid-item span {
    font-size: 80px;
    font-family: Dosis, sans-serif;

}

/*----------Customer  Review Section----------*/
.Customer-Review {
    width: 100%;
    height: 600px;
    background-color: rgb(255, 255, 255);

}

.reviews-grid {
    display: grid;
    column-gap: 200px;
    grid-template-columns: auto auto;

}

.slider li {
    width: 20px;
    height: 20px;
    background-color: #48ca95;
    border-radius: 100%;
    display: flex;
    margin: 2px;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider li.active {
    background-color: #4f4aa6;
}

.slider .banner-active {
    background-color: #ffffff;
}

.slider {
    display: flex;
    margin-top: 270px;

}

.grid-item>.slider {
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}

.reviews-grid-items {
    margin: 55px;

}

.reviews-grid-items p {
    font-size: 20px;
    width: 100%;
}

/*----------Contact Now Section----------*/
.contact-us {
    width: 100%;
    height: 950px;
    background-image: url(images/contact_g.jpg );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.contact-border {
    border: 2px solid white;
    width: 790px;
    height: 670px;
    align-items: center;

    margin-top: 50px;
    display: inline-block;
}

.contact-us {
    text-align: center;
    align-items: center;
    margin-top: 50px;
}

input {
    margin-top: 80px;
    margin: 10px;
    padding: 20px;
    background-color: transparent;
    border: 2px solid white;
    width: 650px;
    align-items: center;
    color: white;
    background-color: none;


}

input::placeholder {
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#Message {
    height: 100px;
}

form {
    margin-top: 70px;
}

.send-btn {
    border-radius: 50px;
    width: 230px;
    background-color: #48ca95;
    border: none;
    color: white;
    font-weight: 400;
    font-size: 24px;
}

.footer {
    width: 100%;
    height: 430px;
    background: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;


}

.grid-footer {
    display: grid;
    column-gap: 60px;
    grid-template-columns: 250px 250px 170px 200px;
    padding: 50px;
    align-items: center;
    justify-content: center;
}

.grid-footer-item {
    color: white;
    margin: 10px;
}

.logo1 {
    margin-left: 30px;
}

.grid-footer-item input {
    width: 200px;
    height: 10px;
    font-size: 14px;
    background-color: aliceblue;
    border-radius: 20px;
    color: grey;
    margin-left: 0px;
    margin-top: 0px;

}

.grid-footer-item input::placeholder {
    font-size: 16px;
    color: grey;
    font-weight: bold;

}

.grid-footer-item p {
    font-size: 20px;
}

.sub-btn {
    width: 160px;
    font-size: 16px;
    background-color: #48ca95;
    border-radius: 20px;
    border: none;
    margin-top: 5px;
    font-weight: bold;
}

.copyRights {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}